<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:if="${personas != null and !personas.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.firstName}">Mostrar Nombre</td>
            <td th:text="${persona.lastName}">Mostrar Apellido</td>
            <td th:text="${persona.phone}">Mostrar Telefono</td>
            <td th:text="${persona.email}">Mostrar Email</td>
        </tr>
    </table>
</div>
<div th:if="${personas == null or personas.empty}">
    <h1>No se han encontrado personas</h1>
</div>
</body>
</html>