<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Inicio</h1>
<a th:href="@{/agregar}">Agregar Persona</a>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}">Mostrar Nombre</td>
            <td th:text="${persona.apellido}">Mostrar Apellido</td>
            <td th:text="${persona.telefono}">Mostrar Telefono</td>
            <td th:text="${persona.email}">Mostrar Email</td>
            <td><a th:href="@{/editar/} + ${persona.personaId}">Editar</a></td>
            <td><a th:href="@{/eliminar/} + ${persona.personaId}">Eliminar</a></td>
        </tr>
    </table>
</body>
</html>