<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="headerPerron">
        <h1 th:text="#{plantilla.titulo}"></h1>
    </header>

    <footer th:fragment="footerAunMasPerron">
        <div>
            <br>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a>
            <br>
        </div>
        <p>[[#{plantilla.pie-pagina}]] - Javier Mota</p>
        <form method="POST" th:action="@{/logout}">
            <b>Usuario:</b><span sec:authentication="name"> Usuario que hizo login</span><br>
            <b>Roles:</b><span sec:authentication="principal.authorities"> Roles del usuario</span><br>
            <button type="submit" name="logout">Log out</button>
        </form>
    </footer>
</body>
</html>